{% block menu %}
{% spaceless %}
    {% if items %}
        <ul class="nav">{{ items|raw }}</ul>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block menu_item %}
    <li{% if item.active %} class="active"{% endif %}>
        <a href="{{ item.uri }}">{{ block('label') }}</a>
    </li>
{% endblock %}

{% block menu_item_children %}
    <li class="dropdown{% if item.active %} active{% endif %}">
        <a href="{{ item.uri }}" class="dropdown-toggle" data-toggle="dropdown">
            {{ block('label') }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">{{ items|raw }}</ul>
    </li>
{% endblock %}

{% block breadcrumbs %}
{% spaceless %}
    {% if items %}
        <ul class="breadcrumb">
            {% for item in items|reverse %}
                <li>
                    {% if loop.last %}
                        {{ block('label') }}
                    {% else %}
                        <a href="{{ item.uri }}">{{ block('label') }}</a>
                        <span class="divider">/</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block label %}
    {{ item.label|trans(item.transParams|default({}), item.transDomain|default('messages')) }}
{% endblock %}
