{# Nav links (navbar component) #}
{# http://twitter.github.com/bootstrap/components.html#navbar #}

{% block nav %}
    <ul class="nav">{{ block('nav_items') }}</ul>
{% endblock %}

{% block nav_items %}
    {% for item in items %}
        {{ block(items.hasChildren ? 'nav_item_children' : 'nav_item') }}
    {% endfor %}
{% endblock %}

{% block nav_item %}
    <li{% if item.active %} class="active"{% endif %}>
        {% if item.uri is not empty %}
            <a href="{{ item.uri }}">{{ block('label') }}</a>
        {% else %}
            <span>{{ block('label') }}</span>
        {% endif %}
    </li>
{% endblock %}

{% block nav_item_children %}
    <li class="dropdown{% if item.active %} active{% endif %}">
        <a href="{{ item.uri }}" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
            {{ block('label') }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            {% set items = items.getChildren %}
            {{ block('nav_items') }}
        </ul>
    </li>
{% endblock %}

{# Nav list #}
{# http://twitter.github.com/bootstrap/components.html#navs #}

{% block navlist %}
    <ul class="nav nav-list">{{ block('navlist_items') }}</ul>
{% endblock %}

{% block navlist_items %}
    {% for item in items %}
        {{ block(items.hasChildren ? 'navlist_item_children' : 'nav_item') }}
    {% endfor %}
{% endblock %}

{% block navlist_item_children %}
    <li class="nav-header">{{ item.label|trans(item.transParams|default({}), item.transDomain|default(null)) }}</li>
    {% set items = items.getChildren %}
    {{ block('navlist_items') }}
{% endblock %}

{# Breadcrumbs #}
{# http://twitter.github.com/bootstrap/components.html#breadcrumbs #}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        {% for item in items|reverse %}
            <li>
                {% if loop.last and options.last is not defined %}
                    {{ block('label') }}
                {% else %}
                    <a href="{{ item.uri }}">{{ block('label') }}</a>
                    <span class="divider">/</span>
                {% endif %}
            </li>
        {% endfor %}
        {% if options.last is defined %}
            <li>{{ options.last }}</li>
        {% endif %}
    </ul>
{% endblock %}

{# Misc #}

{% block label %}
    {{ item.label|trans(item.transParams|default({}), item.transDomain|default(null)) }}
{% endblock %}
